#login_form, .cstack{
  max-width: 500px;
}

#social-login{
  width: 75% !important;
  flex-wrap: wrap;
}

#social-login>.auth.btn{
  margin: 10px;
  min-width: 100px !important;
  border: none;
  box-shadow: 5px 5px 1px 0px black;
  border: rgb(10, 10, 10) 1px solid;
}

.cstack>*{
  display: block !important;
  margin: 0 auto;
}
.cstack{
  width: auto;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
}

textarea{
  width: 90% !important;
}

input.auth{
  padding: 10px;
  box-shadow: inset 1px -1px 4px 0px black;
}

.auth{
  border: gold 2px solid;
  border-radius: 12.5px;
}

.auth.btn{
  font-family: inherit;
  text-shadow: inherit;
  font-size: inherit;
  color: white;
  text-decoration: none;
  width: 75%;
  margin: 7px auto;
  background-color: rgba(255, 255, 255, 0.05);
  transition: font-size 0.2s, color 0.2s, box-shadow 0.5s, background-color 0.5s, text-shadow 0.1s !important;;
  box-shadow: none !important;
}

.auth.btn:active{
  text-shadow: none;
  font-size: 1em;
  color: white !important;
}

.auth.btn:hover{
  transform: none;
}

.auth.btn.facebook{
  background-color: RGB(59, 89, 152);
}

.auth.btn.twitter{
  background-color: RGB(0, 172, 237);
}

.auth.btn.github{
  background-color: black;
}
.auth.btn.google{
  background-color: #db3236;
}