@import url("logo/logo.css");
@import url("nav/nav.css");
@import url("tile/tile.css");

html{
  background-color: rgba(50, 100, 50, 1);
    background-image: url("img/background.jpg");
    background-attachment: fixed;
    background-blend-mode: darken;
    background-repeat: repeat;
}

body{
  padding: 0px;
  margin: 0px;
}
.showcase{
  color: white;
  text-decoration: none;
  background-position: center top;
  background-size: 150%;
  text-shadow: black 1px 1px 1px;
  font-size: 1.65em;
  
}

.showcase:hover{
  font-size: 1.2em;
  
}

.head{
  text-decoration: underline;
  padding: 10px;
  display: block;
  
}
.page.head{
  font-size: 2em;
  margin: 10px;
}

.state.open{
  color: limegreen;
  font-size: 1.5em;
}

.state.closed{
  color: red;
  font-size: 1.5em;
}

.sub{
  font-size: 1.5em;
}
.pool{
  box-shadow: inset 0px 0px 60px 20px black;
  border: 3px black solid;
  transition: font-size 0.5s, box-shadow 0.2s;
}

.pool:hover{
  box-shadow: inset 0px 0px 5px 5px black;
}

.slam{
  width: 100%;
  margin: 0px;
  background-image: url("img/background.jpg");
  background-attachment: fixed;
  box-shadow: 0px 0px 20px 1px black;
}

.slam>.logo{
  margin: auto;
}

.content{
  width: 100%;
  margin: auto;
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 1.05em;
  text-shadow: pink 0px 0px 2px;
  text-align: center;
}

.content>.post{
  margin: 5px auto;
  /*box-shadow: inset 0px 0px 10px 1px black;*/
  padding: 10px;
}
.content>.post>*{
  margin: 10px auto;
}
.meta{
  max-width: 900px;
  width: 100%;
  margin: auto;
}
.meta>div>h2{
  border-bottom: white solid 1px;
  width: 80%;
  margin: 10px auto;
}
.meta>div:first-of-type{
  flex: 3;
}
.slam>.nav{
  width: 100%;
  background-color: black;
  font-family: 'Lemon', cursive;
  text-align: center;
}
footer{
  width: 100%;
  margin: auto;
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 1.05em;
  text-shadow: pink 0px 0px 2px;
  text-align: center;
}

footer>.tile{
  padding: 10px;
}
